
<footer>
    
<!-- build navbar at bottom -->    
<nav class="navbar navbar-inverse navbar-fixed-bottom">
 <ul class ="nav navbar-nav">

     
<p class="text-center"><small>A greenhand code farmer, welcome for any technology talk :p</small></p>

<!-- there 3 logo gonna link to 3 different profile pages of me-->
<a class="navbar-brand" href="https://plus.google.com/114112866744425443494/about">
<img alt="google" src="/images/google+.png">
</a>
     
<a class="navbar-brand" href="https://www.facebook.com/zoumo523">
<img alt="facebook" src="/images/facebook.png">    
</a>
      
<a class="navbar-brand" href="https://github.com/EchoZou">
<img alt="github" src="/images/github.png">
</a>    
    
    
</ul>
</nav>
</footer>


</body>
</html>