<!-- File name: COMP2068 Assignment1 -->
<!-- Author's name: Mo Zou 200271124 Georgian College 2015 fall -->
<!-- Web site name: http://localhost:3000/ -->
<!-- File description: This is supposed to be a personal online profolio, which is built through Express.js and npm -->

<!DOCTYPE html>
<html>
  <head>
    <title>Assignment1</title>
      
   
      <!-- Latest compiled and minified CSS -->
           
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">   
     
       <!-- Latest   jQuery -->
      <script src="https://code.jquery.com/jquery-2.1.4.min. js"></script>
  
      <!-- Latest compiled and minified   JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
  </head>
  <body>
      
<!-- build navbar at top -->      
      <nav class="navbar navbar-inverse">
          <ul class ="nav navbar-nav navbar-left">
            <li><a href="/">Home page</a></li>
            <li><a href="/about">About me</a></li>
            <li><a href="/projects">Projects Page</a></li>
            <li><a href="/service">Service Page</a></li>
            <li><a href="/contact">Contace Me</a></li>
          </ul>      
      </nav>
      
      
      
      
      
      
      
      
      
      
   
      
      
      